.big_container{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr;
    height: 200%;
}
.book_info_container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    margin: 10px;
}
.book_container_col_one{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.book_container_col_two{
    display: grid;
    padding: 2em;
}
.buy_button{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
}
.buy_button:hover{
    background-color: rgb(197, 197, 197);
color: black;
border: 2px solid black;

}