.quatity_icon{
    width: 20px;
}
.cart_container{
    padding: 50px;
}

.total_amount{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 10px;
}
.total_amount h3{
    border: 2px solid black; 
    width: fit-content;
    padding: 20px;

}

.book_info_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
.book_container_col_one{
    display: grid;
    justify-content: center;
    align-items: center;
}

.pay_button, .buy_button, .confirm_button{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
}
.pay_button:hover, .buy_button:hover, .confirm_button:hover{
    background-color: rgb(197, 197, 197);
color: black;
border: 2px solid black;

}
.pay_button{
    width: 30%;
    height: 40%;
}

.payment_options{
visibility: visible;
display: grid;
place-items: center;
margin-bottom: 30px;
}
.nopayment_options{
/* visibility: hidden; */
display: none;
}
.payment_container{
    display: grid;
    grid-template-columns: 2fr 2fr;

}
.showpayment_fields{
    /* visibility: visible; */
}
.hidepayment_fields{
    /* visibility: hidden; */
}
.showpayment_fields > input
{
 margin:20px
}